<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> Проверьте данные </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
<!--    <title>{% block title %}{% endblock %}</title>-->
</head>
<body>
    <div class="container">
        <div class="row g-3">
            <div class="col-sm-6">
                <h4 class="mb-3">
                    Проверьте личные данные
                </h4>
            </div>
        </div>
    </div>
<form action="{{url_for('check_profile', user_id=data.user_id)}}" method="post">
<div class="container">
    <div class="row g-3">
    <div class="col-sm-6">
    <p><label> Фамилия </label>
        <input type="text" class="form-control" name="name" value="{{profile_data.name}}" required /></p>
    <p><label> Имя </label>
        <input type="text" class="form-control" name="firstname" value="{{profile_data.firstname}}"  required />
    <p><label> Отчество (при наличии)</label>
        <input type="text" class="form-control" name="lastname" value="{{profile_data.lastname}}" /></p>
    <h5 class="mb-3">Дата рождения</h5>
    <input class="form-control" type="date" name="dateborn" value={{profile_data.dateborn}} required />
    </div>

    <div class="col-sm-6">
<p><label> Организация</label>
    <input type="text" class="form-control" name="name_suborganization" value="{{profile_data.name_suborganization}}" required/>
<p><label> Должность</label>
    <input type="text" class="form-control" name="position" value="{{profile_data.position}}" required/>
<p><label> Электронная почта (при наличии) </label>
    <input class="form-control" type="text" name="email"  value="{{profile_data.email}}" />
    </div>
{#<h4 class="mb-3">Отметьте вашу роль</h4>#}
{#<p><input type="radio" class="form-check-input" name="role" checked/> обучающийся#}
{#<input type="radio" class="form-check-input" name="role" /> организатор обучения#}
{#<input type="radio" class="form-check-input" name="role" /> экзаменатор</p>#}
    </div>
</div>
<hr class="my-4">
<div class="row g-3">
<div class="col-sm-6">
{#<h4 class="mb-3">Смените пароль (при необходимости)</h4>#}
{#<p>#}
{#<input class="form-control" type="password" name="psw" value="" placeholder="Введите старый пароль" />#}
{#<p>#}
{#<input class="form-control" type="password" name="psw" value="" placeholder="Введите новый пароль" />#}
{#<p>#}
{#<input class="form-control" type="password" name="psw2" value="" placeholder="Повторите пароль" />#}
</div>
</div>

<div class="container">
    <div class="row g-3">
        <div class="col-sm-6">
            <input class="w-100 btn btn-primary btn-lg" type="submit" value="Подтвердить" />
        </div>
    </div>
</div>
</form>
</body>
</html>