{% extends 'course_base.html' %}

{% block title %}
ОТ_Челно-Вершины
{% endblock %}
{% block company%}
    ГБОУ СОШ (ОЦ) с.Челно-Вершины.
    Ваш курс - {{data.theme}}
{% endblock %}

{% block hidden_timer %}
{% endblock %}>

{% block username %}
{{data.name}} {{data.firstname}} {{data.lastname}}
{% endblock %}

{{data.edu_test}}

{% block content %}
    {% block body %}
    <div class="container-sm" width="100%" height="100%">
        {% block login %}
{#             сделать ввиде цикла вывод или отдельно через <p> #}
{#            <a href={{ url_for('static', filename=data.edu_mat) }} download>#}
            <h3>Инструкция по теме - {{ data.theme }}</h3>
            <p><a href="">Общие для всех инструкции</a></p>
            <p>Инструкции для педагогического персонала</p>
            <p>Инструкции для административно-технического персонала</p>
            <p>Инструкции для учебно-вспомогательного персонала</p>
            <p>Инструкции для администрации</p>
        {% endblock %}
    </div>
    {% endblock %}
    <div class="col-6 col-sm-4 themed-grid-col">
    <p><a href={{ url_for('edu_lectorium', user_id=data.user_id) }}> Основная лекция </a></p>
    </div>
    <div class="col-6 col-sm-4 themed-grid-col">
        <a href={{ url_for('edu_grafica',  user_id=data.user_id ) }}>
            <p> Графические материалы (презентации,  картинки, фотографии, буклеты) </p>
        </a>
    </div>
    <div class="col-6 col-sm-4 themed-grid-col">
        <a href={{ url_for('edu_add', user_id=data.user_id ) }}>
            <p>Дополнительные материалы(кодексы, законы, локальные акты школы) </p>
        </a>
    </div>
     <div class="col-6 col-sm-4 themed-grid-col">
        <a href={{ url_for('edu_test', user_id=data.user_id) }}> Начать пробный тест(нажмите на ссылку!)</a>
    </div>
     <div class="col-6 col-sm-4 themed-grid-col">
        <a href={{ url_for('edu_mat', user_id=data.user_id) }}> Вернуться на страницу курса</a>
    </div>
    <div class="col-6 col-sm-4 themed-grid-col">
        <a href={{ url_for('courses', user_id=data.user_id) }}> Вернуться на страницу всех курсов</a>
    </div>
{% endblock %}
{% block footer %}
      ГБОУ СОШ (ОЦ) с. Челно-Вершины
{% endblock %}